.backgrnd {
  background-color: #f8f9fe;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;

  @include tablet {
    flex-direction: row;
  }
}

.signin-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.logo{
  width: 30%;
  margin-top: 3rem;
}

.signin-img {
  width: 500px;

  @include desktop {
    width: 600px;
  }
}