.logo {
  width: 7rem;
  margin: 0;
}
.notification {
  width: 2rem;

  &-container {
    margin-left: auto !important;
  }
}

.notification-count {
  position: relative;
  left: -10px;
  background-color: rebeccapurple;
  border-radius: 50%;
  width: 0.8rem;
  height: 0.8rem;
  top: -7px;
}

// .sidebar-icon {
//   width: 3rem;
// }