.card-container {
    background-color: grey;
    box-shadow: 0px 2px 10px rgba(19, 24, 44, 0.1);
    width: 100%;
    cursor: pointer;

    &__img {
        width: 100%;
    }
    &__buttons {
        width: 100%;
        margin-top: 2.5rem;
    }

    &:hover {
        box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    }
}

.view-button {
    width: 50%;
    border: none;
    color: white;
    background-color: blue;
    outline: none;
    padding: 0.3rem 0;

}

.support-button {
    @extend .view-button;
    background-color: chocolate;
}

