.navigation {
    width: 100%;
    display: flex;
    margin: 0;
    background-color: grey;
    align-items: center;
    font-family: "Titillium Web";
    font-weight: 300;
}

.navigation__toggle {
    // position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 21px;
    width: 30px;
    right: 1rem;
    cursor: pointer;
    margin-right: 10px;
    margin-left: auto;

    @include tablet {
        display: none;
    }
}


.navigation__toggle--bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 20px;
}

.navigation__list {
    display: none;

    &--item {
        list-style: none;
        text-decoration: none;
    }

    @include tablet {
        display: flex;
    }
}