@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/TitilliumWeb-Black.woff2") format("woff2"), url("../fonts/TitilliumWeb-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/TitilliumWeb-Bold.woff2") format("woff2"), url("../fonts/TitilliumWeb-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/TitilliumWeb-BoldItalic.woff2") format("woff2"), url("../fonts/TitilliumWeb-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/TitilliumWeb-ExtraLight.woff2") format("woff2"), url("../fonts/TitilliumWeb-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/TitilliumWeb-ExtraLightItalic.woff2") format("woff2"), url("../fonts/TitilliumWeb-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/TitilliumWeb-Italic.woff2") format("woff2"), url("../fonts/TitilliumWeb-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/TitilliumWeb-Light.woff2") format("woff2"), url("../fonts/TitilliumWeb-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/TitilliumWeb-LightItalic.woff2") format("woff2"), url("../fonts/TitilliumWeb-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/TitilliumWeb-Regular.woff2") format("woff2"), url("../fonts/TitilliumWeb-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/TitilliumWeb-SemiBold.woff2") format("woff2"), url("../fonts/TitilliumWeb-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../fonts/TitilliumWeb-SemiBoldItalic.woff2") format("woff2"), url("../fonts/TitilliumWeb-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

.container-sidebar {
  display: none;
}

@media screen and (min-width: 768px) {
  .container-sidebar {
    display: inline;
    width: 350px;
    height: 100vh;
    background: white;
    border-right: 1px solid rgba(19, 24, 44, 0.1);
  }
}

.sidebar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 4rem;
  padding-left: 0;
}

.sidebar__list-item {
  color: rgba(0, 0, 0, 0.4);
  list-style: none;
  text-decoration: none;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.3rem;
}

.sidebar__list-item:hover {
  list-style: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

.sidebar-icon {
  width: 5rem;
  margin-right: 15px;
}

.signout-button {
  border: none;
  background: none;
  outline: none;
}

.signout-button:focus {
  outline: none;
}

.nav-link__active {
  color: black;
  background-color: #f4f5f7;
}

.sidebar-img {
  width: 300px;
}

.drowpdown-sidebar {
  display: inline;
  width: 350px;
  height: 100vh;
  background: white;
  border-right: 1px solid rgba(19, 24, 44, 0.1);
}

@media screen and (min-width: 768px) {
  .drowpdown-sidebar {
    display: none;
  }
}

.profile-container {
  width: 100%;
  height: 100vh;
}

.profile-container__header {
  background-color: rebeccapurple;
  height: 300px;
}

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1280px) {
  .main-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.main-section__form {
  position: relative;
  top: -100px;
  background-color: #ffffff;
  width: 90%;
  -webkit-box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
          box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  border-radius: 3px;
  padding: 0 1.3rem;
  color: #32325d;
}

.main-section__form-button {
  border: none;
  color: white;
  border-radius: 30px;
  background: rebeccapurple;
  width: 100px;
  cursor: pointer;
  padding: 0.5rem;
}

.main-section__form-button:focus {
  outline: none;
}

.main-section__form-button:hover {
  background-color: rgba(102, 51, 153, 0.8);
}

.main-section__form-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 3rem;
  margin-top: 10px;
  border-bottom: 0.5px solid #e0e4ec;
  color: #32325d;
}

.main-section__form-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.input-element {
  border: 0.5px solid #e0e4ec;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  margin-bottom: 20px;
  outline: none;
  -webkit-box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
          box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
}

.input-element:focus {
  -webkit-box-shadow: 0px 8px 8px rgba(19, 24, 44, 0.1);
          box-shadow: 0px 8px 8px rgba(19, 24, 44, 0.1);
}

.padding-btm {
  padding-bottom: 2.6rem;
}

.form-title {
  margin-bottom: 2rem;
}

.border-btm {
  border-bottom: 0.5px solid #e0e4ec;
}

@media screen and (min-width: 1280px) {
  .border-btm {
    border-bottom: none;
  }
}

.margin-btm {
  margin-bottom: 2rem;
}

.scrollable {
  overflow-y: auto;
}

.header__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  margin: 2rem;
  margin-top: 0;
  padding-top: 1rem;
}

.mrg-top {
  margin-top: 2rem;
}

@media screen and (min-width: 1280px) {
  .mrg-top {
    margin-top: 0;
  }
}

.txtarea {
  width: 100%;
  min-height: 4rem;
}

@media screen and (min-width: 1280px) {
  .frm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .mrg-right {
    margin-right: 2rem;
  }
}

.mrg-bottom {
  margin-bottom: 9rem;
}

.explore-link {
  color: white;
  text-decoration: none;
}

.explore-link:hover {
  color: white;
}

.profile-card {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 300px;
  height: 200px;
}

.margin-top {
  top: -300px;
}

@media screen and (min-width: 768px) {
  .margin-top {
    top: -40px;
  }
}

.profile-page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile__img {
  width: 50%;
}

.profile-details {
  width: 90%;
  position: relative;
  top: -270px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (min-width: 768px) {
  .profile-details {
    width: 80%;
    top: -20px;
  }
}

@media screen and (min-width: 1280px) {
  .profile-details {
    width: 50%;
  }
}

.profile-details__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .profile-details__container {
    position: relative;
    top: -100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1280px) {
  .profile-details__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    top: -200px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.calendar-container {
  position: relative;
  top: -200px;
  background: "#fb6340";
  height: "100vh";
  background-color: white;
}

.calendar-page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.backgrnd {
  background-color: #f8f9fe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .backgrnd {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.signin-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  width: 30%;
  margin-top: 3rem;
}

.signin-img {
  width: 500px;
}

@media screen and (min-width: 1280px) {
  .signin-img {
    width: 600px;
  }
}

.w-400 {
  width: 550px;
}

.friends-page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.friend-list__container {
  width: 100%;
  position: relative;
  top: -200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card-element {
  -webkit-box-shadow: 0px 10px 10px rgba(19, 24, 44, 0.1);
          box-shadow: 0px 10px 10px rgba(19, 24, 44, 0.1);
  width: 20%;
  margin-bottom: 20px;
  border: none;
}

.event-img {
  width: 90%;
  margin-top: 4rem;
}

@media screen and (min-width: 768px) {
  .event-img {
    margin-top: 0rem;
    width: 500px;
  }
}

.dspl-flx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4rem;
}

.article-container {
  position: relative;
  top: -100px;
  background: white;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  padding: 2.5rem;
  -webkit-box-shadow: 4px 8px 10px rgba(19, 24, 44, 0.1);
          box-shadow: 4px 8px 10px rgba(19, 24, 44, 0.1);
}

@media screen and (min-width: 768px) {
  .article-container {
    width: 500px;
  }
}

.comments-container {
  margin-top: -60px;
}

@media screen and (min-width: 768px) {
  .comments-container {
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  .calendar__img {
    margin-top: 7rem;
    width: 550px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media screen and (min-width: 1280px) {
  .calendar__img {
    margin-top: 2rem;
    width: 700px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.logo {
  width: 7rem;
  margin: 0;
}

.notification {
  width: 2rem;
}

.notification-container {
  margin-left: auto !important;
}

.notification-count {
  position: relative;
  left: -10px;
  background-color: rebeccapurple;
  border-radius: 50%;
  width: 0.8rem;
  height: 0.8rem;
  top: -7px;
}

@media screen and (min-width: 768px) {
  .nav-bar__dropdown {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */